% -*- erlang -*-

{require_otp_vsn, "R15"}.

{deps, [
    {gproc, ".*",
        {git, "git://github.com/uwiger/gproc.git", "master"}
    },
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git", "master"}
    },
    {jiffy, ".*",
        {git, "git://github.com/davisp/jiffy.git", "master"}
    }
]}.
